.orb-container {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

.orb-container canvas {
  width: 100%;
  height: 100%;
  display: block;
  filter: blur(0.5px);
  opacity: 0.5;
}
